* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html body {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100vh;
  width: 100%;
}


.carme-regular {
  font-family: "Carme", sans-serif;
  font-weight: 430;
  font-style: normal;
}


.project-card {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 120px;

}


@media screen and (max-width: 430px) {
  .project-card {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

// .app-button {
//   margin-right: 10px;
//   border-radius: 5px;
//   background-color: rgb(35, 33, 105);
//   display: inline-block;
//   border: 1px solid #ccc;
//   color: #333;
//   text-decoration: none;
//   outline: none;
//   transition: all .1s;
//   padding: 2px;
//   width: 120px;

// }

.app-button {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #202d52;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  // padding: 10px;
  margin:10px;
  text-wrap: wrap;
}

.app-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.app-button:active {
  color: #2d2c2c
}

.app-button:active:after {
  background: transparent;
}

.app-button:hover:before {
  opacity: 1;
}

.app-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



/*hoverをしたらボックスに影がつき、上に上がる*/
// .app-button:hover {
//   top:-3px;
//   box-shadow: 5px 5px 10px rgb(248, 248, 179);
// }

.app-links {
  display:flex;
  flex-direction: row;
}

@media screen and (max-width: 430px) {
  .add-links {
  justify-content: space-between;
  }
}


.app-container {
  margin-top: 100px;
}


.bottom-container {
  padding-bottom: 20px;
}

#team {
  color: white;
}

#gradation {
  font-style: italic;
  font-weight: bold;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.tagline {
  color:white;
}

.project-name {
  width: 45%;
  height: 350px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}

@media screen and (max-width: 430px) {
  .project-name {
    width: 100%;
  }
}


.project-pic-1 {
  // width: 100%;
  // height: 100%;
  border-radius: 25px;
  object-fit:contain;
  box-shadow: 12px 12px 20px 1px rgb(245, 245, 198);
}

@media screen and (max-width: 430px) {
  .project-pic-1 {
    object-fit:scale-down;
    box-shadow: 0px 0px 0px 0px;

  }
}

.project-pic-2 {
  // width: 100%;
  // height: 100%;
  border-radius: 25px;
  object-fit:contain;
  box-shadow: 12px 12px 20px 1px rgb(245, 245, 198);
}


@media screen and (max-width: 430px) {
  .project-pic-2 {
    display: none;
  }
}


.project-pic {
  width: 90%;
  height: 100%;
  border-radius: 5px;
  object-fit:initial;
  box-shadow: 12px 12px 20px 1px rgb(245, 245, 198);

}

@media screen and (max-width: 430px) {
  .project-pic {
    box-shadow: 0px 0px 0px 0px;
    height:90%;
    width: 100%;
    object-fit:cover;


  }
}

.project-description {
  width: 50%;
  height: 350px;
}

@media screen and (max-width: 430px) {
  .project-description {
    width: 100%;
    height: 200px;
  }
}


// @keyframes blur{
//   0%{ filter: blur(0); }
//  50%{ filter: blur(0); }
// 100%{ filter: blur(8px); }
// }

.skill-list {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  flex-wrap: wrap;



  // animation: blur ease forwards;
  // animation-timeline: view();
  // animation-range: cover 0% cover 100%;
}

.skills {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  flex-wrap: wrap;

}
.skills i {
font-size: 4.0rem;
margin: 2px;
letter-spacing: 0.5em;;
}

.certficates {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  object-fit: cover;
  width: 100%;
  flex-wrap: wrap;
}



.badges {
  height: 100px;
  width: 100px;
  display:block;
  margin-right:20px;
  margin-left:20px;
}




.certificate-list h1 {
  color:white;
}

.contact-title {
  padding-top: 50px;


}
.contact-container {
  width: 65%;
  margin:auto;
  // padding-top: 50px;
}

@media screen and (max-width: 430px) {
  .contact-container {
    width: 100%;

  }
}


.contact-container h1 {
  color: white;
}

.form-btn {
  background:white;
}

.form-label {
  color: white !important;
  font-size: 16px;
}



//上に戻るボタン
html {
  scroll-behavior: smooth;
}
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}

.pagetop:hover {
  // background-color:rgb(249, 249, 176) ;
  box-shadow: 0px 0px 10px rgb(248, 248, 179);

}

// @media screen and (max-width: 767px) {
//   .tagline {
//     display: none;
//   }
// }

@media screen and (max-width: 430px) {
  .tagline {
    display: none;
  }
}
