<div class="footer">
  <div class="sns">
        <%= link_to "https://github.com/komegi1215", target: "_blank" do %>
          <%= content_tag(:i, "", class: "fa-brands fa-github") %>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/megumimizuno/", target: "_blank" do %>
          <%= content_tag(:i, "", class: "fa-brands fa-linkedin") %>
        <% end %>
      </div>
  <div class="footer-copyright">
     <p><small>Copyright © 2024 Megumi Mizuno</small></p>
  </div>
</div>
