<%# <div class="app-container"> %>
  <div class="skill-list">
    <div class="skills">
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-github-original-wordmark" style = "color: white;"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
    </div>
    <div class="certficates">
      <%= image_tag "salesforce.png", class: "badges" %>
      <%= image_tag "veeva.png", class: "badges" %>
      <%= image_tag "scrum.png", class: "badges" %>
    </div>
  </div>
<%# </div> %>
