
  <div class="tab-content">
    <ul>
      <li>
        <span class ="career-time">Nov 2023</span>
        <br>
        <span style="color: white; font-size: 1.4rem;">&nbspCRM manager and Data Management - @CSL behring</span>
      </li>
      <li>
        <span class ="career-time">Aug 2020 - Oct 2023 </span>
        <br>
        <span style="color: white; font-size: 1.4rem;">&nbspCRM/BI lead - @Lundbeck</span>
      </li>
      <li>
        <span class ="career-time">Feb 2020 - Jul 2023 </span>
        <br>
        <span style="color: white; font-size: 1.4rem;">&nbspData Management Specialist - @WingArc 1st</span>
      </li>
      <li>
        <span class ="career-time">May 2011 - Jan 2020 </span>
        <br>
        <span style="color:white; font-size: 1.4rem;">&nbspAccount Specialist/Campaign Specialist/CRM lead - @Nestlé</span>
      </li>
      <li>
        <span class ="career-time">Sep 2008 - Apr 2011 </span>
        <br>
        <span style="color:white; font-size: 1.4rem;">&nbspProject Team Member - @Sharp</span>
      </li>
    </ul>
  </div>
