
<div class="app-container">
  <div class="project-card">
    <div class="project-name">
      <%= image_tag "sample.jpeg", class: "project-pic" %>
    </div>
    <div class="project-description">
      <h1 class = "text">Mpulse</h1>
      <h2>Le Wagon Team Project</h2>Ï
      <p>Navivate the beat of your city! </p>
    </div>
  </div>


  <div class="project-card">
    <div class="project-description">
      <h1 class = "text">Mpulse</h1>
      <h2>Le Wagon Team Project</h2>
      <p>Navivate the beat of your city! </p>
    </div>
    <div class="project-name">
      <%= image_tag "sample.jpeg", class: "project-pic" %>
    </div>
  </div>
</div>
