
<div class="app-container">
  <div class="project-card">
    <div class="project-name">
      <%= image_tag "mpluse_1.png", class: "project-pic-1" %>
      <%= image_tag "mpulse_2.png", class: "project-pic-1" %>
    </div>
    <div class="project-description">
      <h1 class = "text">Mpulse</h1>
      <h2 class ="text">Le Wagon Team Project</h2>Ï
      <p class="tagline">Navivate the beat of your city! </p>
    </div>
  </div>


  <div class="project-card">
    <div class="project-description">
      <h1 class = "text">Tripl</h1>
      <h2 class ="text">Le Wagon Team Project</h2>
      <p class="tagline">Tripl is a fun way to avoid taking day trips alone. Share your itinerary and find new friends to travel with!</p>
      <p></p>
    </div>
    <div class="project-name">
      <%= image_tag "tripl.png", class: "project-pic" %>
    </div>
  </div>
</div>
