<% provide :title, 'Inquiry' %>
<div class="container mt-4" style = "color: white;">
  <div class="row">
    <div class="col-md-12 col-lg-6 offset-lg-3">
      <h2><%= icon('fas', 'envelope') %> Submitted</h2>
      <nav aria-label="パンくずリスト" class="small">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'back to top', root_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Inquiry</li>
        </ol>
      </nav>
      <hr />

      <p>Thank you for your message.</p>

    </div>
  </div>
</div>
