.all-container {
  margin-top: 100px;

}


.profile {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 12px 12px 2px 1px rgba(188, 188, 188, 0.2);
}

.profile-pic, .sns {
  width: 100%;
}

.sns {
  height: 50px;
  margin-top: 20px;
}

.introduction {
  width: 1000px;
  text-align: center;
}

body {
  background-color: rgb(3, 10, 26);
}

.upper-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
}

.title {
  text-align: left;
  color:white;
}

.left-container {
  width:40%;
}

.right-container {
  width: 60%;
}

.description {
  color: white;
}

.nav-link {
  background-color:#bbb;
}

.nav-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.tab_contents_item{
  display:none;
}


.tab_contents_item.active{
  display:block;
}

.fa-brands {
  color:white;
  font-size: 40px;
  margin: 10px;
}
